body {
  margin: 0;
  background-color: #2a0008;
}
.grainient-background-wrapper {
  position: fixed;
  top: -150px;
  left: -150px;
  width: calc(100vw + 300px);
  height: calc(100vh + 300px);
  height: calc(100lvh + 300px);
  z-index: 0;
  pointer-events: none;
}
